.btn,
.btnflat {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  padding: 0.375em 0.875em;
  margin: 0.0625em 0.375em;
  border: 0.125em solid #262626;
  border-bottom-width: 0.0625em;
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  -o-border-radius: 0.375em;
  border-radius: 0.375em;
  cursor: pointer;
  outline: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-shadow: 0 -0.0625em 0.0625em #000000;
  background: #454545;
  color: #d6c80a;
}
.btn:before,
.btnflat:before,
.btn:after,
.btnflat:after {
  content: '';
  position: absolute;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  -o-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
.btn:before,
.btnflat:before {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-radius: 0.5em;
  background: #454545;
  background: -webkit-linear-gradient(top, #2e2e2e, #5c5c5c);
  background: -moz-linear-gradient(top, #2e2e2e, #5c5c5c);
  background: -o-linear-gradient(top, #2e2e2e, #5c5c5c);
  background: -ms-linear-gradient(top, #2e2e2e, #5c5c5c);
  background: linear-gradient(top, #2e2e2e, #5c5c5c);
  z-index: -1;
}
.btn:after,
.btnflat:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.125em solid rgba(46, 46, 46, 0.7);
  border-top-color: rgba(92, 92, 92, 0.7);
  border-bottom: none;
}
.btn.frm2:after,
.btnflat.frm2:after {
  border-color: rgba(46, 46, 46, 0.55);
  border-top-color: rgba(92, 92, 92, 0.55);
}
.btn.frm3:after,
.btnflat.frm3:after {
  border-color: rgba(46, 46, 46, 0.4);
  border-top-color: rgba(92, 92, 92, 0.4);
}
.btn {
  padding-bottom: 0.3125em;
  -webkit-box-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.2), 0 0.25em 0.4375em -0.1875em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.2), 0 0.25em 0.4375em -0.1875em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.2), 0 0.25em 0.4375em -0.1875em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.2), 0 0.25em 0.4375em -0.1875em rgba(0, 0, 0, 0.5);
}
.btn:before {
  top: -0.3125em;
  left: -0.3125em;
  right: -0.3125em;
  bottom: -0.3125em;
}
.btn:after {
  background: -webkit-linear-gradient(top, rgba(66, 66, 66, 0.5) 0%, rgba(66, 66, 66, 0.5) 47%, rgba(41, 41, 41, 0.4) 53%, rgba(41, 41, 41, 0.8) 100%);
  background: -moz-linear-gradient(top, rgba(66, 66, 66, 0.5) 0%, rgba(66, 66, 66, 0.5) 47%, rgba(41, 41, 41, 0.4) 53%, rgba(41, 41, 41, 0.8) 100%);
  background: -o-linear-gradient(top, rgba(66, 66, 66, 0.5) 0%, rgba(66, 66, 66, 0.5) 47%, rgba(41, 41, 41, 0.4) 53%, rgba(41, 41, 41, 0.8) 100%);
  background: -ms-linear-gradient(top, rgba(66, 66, 66, 0.5) 0%, rgba(66, 66, 66, 0.5) 47%, rgba(41, 41, 41, 0.4) 53%, rgba(41, 41, 41, 0.8) 100%);
  background: linear-gradient(top, rgba(66, 66, 66, 0.5) 0%, rgba(66, 66, 66, 0.5) 47%, rgba(41, 41, 41, 0.4) 53%, rgba(41, 41, 41, 0.8) 100%);
}
.btn.frm2 {
  -webkit-box-shadow: 0 0.0625em 0.0625em #242424;
  -moz-box-shadow: 0 0.0625em 0.0625em #242424;
  -o-box-shadow: 0 0.0625em 0.0625em #242424;
  box-shadow: 0 0.0625em 0.0625em #242424;
  background: #3d3d3d;
}
.btn.frm3 {
  padding: 0.40625em 0.875em 0.28125em 0.875em;
  margin-bottom: 0;
  border-bottom: 0.125em solid #2b2b2b;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background: #383838;
}
.btnflat {
  color: #bab026;
  border-width: 0.0625em;
  -webkit-box-shadow: 0 4px 1px -0.1875em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 1px -0.1875em rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 4px 1px -0.1875em rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 1px -0.1875em rgba(0, 0, 0, 0.4);
}
.btnflat:before {
  top: -0.25em;
  left: -0.25em;
  right: -0.25em;
  bottom: -0.25em;
}
.btnflat:after {
  border-width: 0.0625em;
}
.btnflat.frm2 {
  -webkit-box-shadow: 0 3px 1px -0.1875em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 1px -0.1875em rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 3px 1px -0.1875em rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 1px -0.1875em rgba(0, 0, 0, 0.4);
}
.btnflat.frm2:after {
  background: -webkit-linear-gradient(top, rgba(69, 69, 69, 0.08) 0%, rgba(41, 41, 41, 0.08) 100%);
  background: -moz-linear-gradient(top, rgba(69, 69, 69, 0.08) 0%, rgba(41, 41, 41, 0.08) 100%);
  background: -o-linear-gradient(top, rgba(69, 69, 69, 0.08) 0%, rgba(41, 41, 41, 0.08) 100%);
  background: -ms-linear-gradient(top, rgba(69, 69, 69, 0.08) 0%, rgba(41, 41, 41, 0.08) 100%);
  background: linear-gradient(top, rgba(69, 69, 69, 0.08) 0%, rgba(41, 41, 41, 0.08) 100%);
}
.btnflat.frm3 {
  -webkit-box-shadow: inset 0 3px 6px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 3px 6px -5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0 3px 6px -5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 6px -5px rgba(0, 0, 0, 0.5);
}
.btnflat.frm3:after {
  background: -webkit-linear-gradient(top, rgba(69, 69, 69, 0.2) 0%, rgba(41, 41, 41, 0.2) 100%);
  background: -moz-linear-gradient(top, rgba(69, 69, 69, 0.2) 0%, rgba(41, 41, 41, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(69, 69, 69, 0.2) 0%, rgba(41, 41, 41, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(69, 69, 69, 0.2) 0%, rgba(41, 41, 41, 0.2) 100%);
  background: linear-gradient(top, rgba(69, 69, 69, 0.2) 0%, rgba(41, 41, 41, 0.2) 100%);
}
